.dev-layout {
	width: 100%;
	background-color: #fff;
	display: table;
	&__block {
		margin:34px 0 39px;
		padding:0 27px 0;
	}
	&__item {
		margin-bottom: 18px;
		&:last-child {
			margin-bottom: 0px;
		}
	}
	&__title {
		margin-bottom: 24px;
		font-size: 22px;
		font-weight: 500;
	}
	&__subtitle {
		margin-bottom: 12px;
		font-size: 14px;
		font-weight: 500;
	}
}