/* текст */
$black: #000;
$grey-t: #898989;
$green-t: #1B694C;
$yellow: #F8F4E2;

/* границы */
$border: #EBEBEB;

/* иконки */
$grey-i: #B7B7B7;

/* фоны */
$grey: #F9F9F9;
$green: #4FAB89;

/* для всплывающих окон */
$z-left-menu: 6;
$z-small-modal: 3;
$z-large-modal:5;

/* цветные маркеры для разных типов данных */
$departure-m: #0374ED;
$task-m: #F6A623;
$birthday-m: #00D3CE;
$passport-m: #4DD101;
$contract-m: #9117E2;
$payment-m: #EF4CFF;
$docs-m: #2C00C6;