.menu-modal.menu-modal_small
  .menu-notify
    .menu-notify__title 
      | На 19:00 назначена 
      span.menu-notify__colored задача 
      | «Позвонить Александру»
    .menu-notify__tools
      button.button.button_grey.menu-notify__button Посмотреть
      a(href="#").arrow-link.menu-notify__defer
        span.arrow-link__wrapper Отложить