.search-filters {
  width: 850px;
  padding:22px 29px 35px;
  background-color: #fff;
  display: none;
  &_active {
    display: block;
  }
  &__tabs {
    width: 520px;
    margin-bottom: 19px;
  }
  &__content {

  }
  &__buttons {
    width: 100%;
    padding-top: 19px;
    display: table;
  }
  &__accept {
    width: 200px;
    margin-right: 22px;
    float:left;
  }
  &__save {
    padding-top: 11px;
    display: inline-block;
  }
  &__erase {
    padding-top: 11px;
    float:right;
  }
}