.left-menu
  .left-menu__close-window
    | Назад
  .left-menu__avatar
    img(src="assets/img/user_avatar.png")
  a.left-menu__item.left-menu__item_full-size(href="#", data-menu-modal="#menu-modal-tasks")
    div.left-menu__icon.left-menu__icon_tasks
  a.left-menu__item.left-menu__item_full-size(href="#", data-menu-modal="#menu-modal-notifications")
    div.left-menu__attention 3
    div.left-menu__icon.left-menu__icon_reminder
  a.left-menu__item.left-menu__item_full-size(href="#", data-menu-modal="#menu-modal-search")
    div.left-menu__icon.left-menu__icon_search
  div.left-menu__item.left-menu__item_category(href="#")
    a.left-menu__to-category(href="#")
      div.left-menu__icon.left-menu__icon_nav-1
      div.left-menu__tip Раб. стол
  div.left-menu__item.left-menu__item_category(href="#")
    a.left-menu__to-category(href="#")
      div.left-menu__icon.left-menu__icon_nav-2
      div.left-menu__tip Предзаявки
    .left-menu__submenu
      .left-menu__submenu-title Воронки продаж:
      .left-menu__subitem
        a(href="#").left-menu__link В работе
      .left-menu__subitem
        a(href="#").left-menu__link Контроль качества
      .left-menu__subitem
        a(href="#").left-menu__link Еще одна
  div.left-menu__item.left-menu__item_category(href="#")
    a.left-menu__to-category(href="#")
      div.left-menu__icon.left-menu__icon_nav-3
      div.left-menu__tip Заявки
    .left-menu__submenu
      .left-menu__submenu-title Воронки продаж:
      .left-menu__subitem
        a(href="#").left-menu__link В работе
      .left-menu__subitem
        a(href="#").left-menu__link Контроль качества
  div.left-menu__item.left-menu__item_category(href="#")
    a.left-menu__to-category(href="#")
      div.left-menu__icon.left-menu__icon_nav-4
      div.left-menu__tip Задачи
  div.left-menu__item.left-menu__item_category(href="#")
    a.left-menu__to-category(href="#")
      div.left-menu__icon.left-menu__icon_nav-5
      div.left-menu__tip Общение
  div.left-menu__item.left-menu__item_category(href="#")
    a.left-menu__to-category(href="#")
      div.left-menu__icon.left-menu__icon_nav-6
      div.left-menu__tip Покупатели
  div.left-menu__item.left-menu__item_category(href="#")
    a.left-menu__to-category(href="#")
      div.left-menu__icon.left-menu__icon_nav-7
      div.left-menu__tip Рассылки
  div.left-menu__item.left-menu__item_category(href="#")
    a.left-menu__to-category(href="#")
      div.left-menu__icon.left-menu__icon_nav-8
      div.left-menu__tip Отчеты
  div.left-menu__item.left-menu__item_category(href="#")
    a.left-menu__to-category(href="#")
      div.left-menu__icon.left-menu__icon_nav-9
      div.left-menu__tip Настройки
  div.left-menu__item.left-menu__more(href="#")
    a.left-menu__to-category(href="#")
      div.left-menu__icon.left-menu__icon_nav-more
    .left-menu__submenu.left-menu__submenu_other
