.quick-creation__content(data-tab="task")
  .quick-creation__row
    .quick-creation__task-settings
      | На 
      a.pseudo(href="#") Сегодня 
      |  на 
      a.pseudo(href="#") Весь день
      | , 
      a.pseudo(href="#") Средний  
      |  приоритет
  textarea.quick-creation__description(placeholder="Введите описание")
  .quick-creation__footer
    .quick-creation__footer-right
      button.quick-creation__send Добавить
    .quick-creation__footer-left
      .quick-creation__footer-col.quick-creation__footer-col_responsible
        .quick-creation__footer-col-crop
          a.pseudo(href="#") Булычева Ольга Булычева
      .quick-creation__footer-col.quick-creation__footer-col_associated
        .quick-creation__footer-col-crop
          a.pseudo(href="#") Предзаявка №1234