extends layout/carcass.pug

block content
  div.main-content(id="pre-bid")
    include ./blocks/pre-bid/window
    include ./blocks/pre-bid/header
    include ./blocks/pre-bid/search-filters
    include ./blocks/pre-bid/table
    include ./blocks/pre-bid/kanban
    include ./blocks/pre-bid/graph