.menu-notify {
	&__title {
		margin-bottom: 13px;
		font-size: 14px;
		font-weight: 500;
	}
	&__colored {
		color:$green-t;
	}
	&__tools {
		display: table;
	}
	&__button {
		width: 110px;
		height: 33px;
		margin-right: 14px;
		float:left;
	}
	&__defer {
		margin-top: 7px;
		float:left;
	}
}