.modal {
  background-color: #fff;
  border-radius:3px;
  position: absolute;
  z-index: $z-large-modal;
  display: none;
  &_active {
    display: block;
  }
  &_kanban-quickview {
    width: 460px;
  }
}