.blackout {
  background-color: rgba(25,46,38,0.3);
  position: absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  z-index: 2;
  display: none;
  &_table {
    top:122px;
  }
  &_active {
    display: block;
  }
}