.progress-bar {
	position: relative;
	border-radius:2px;
	overflow: hidden;
	&__line {
		height: 7px;
		background-color: $green;
		position: absolute;
	}
	&__base {
		height: 7px;
		border:1px solid $border;
		background-color: #fff;
		border-radius:2px;
	}
}