doctype html
head
  include head
body
  .blackout.blackout_full-screen
  include ../modals/modals
  include ../blocks/left-menu
  block content
  script(src="assets/js/min.libraries.js")
  script(src="https://code.highcharts.com/highcharts.js")
  script(src="https://code.highcharts.com/modules/exporting.js")
  script(src="assets/js/scripts.js")